template:
  - fan:
      - name: "Afzuiging badkamer"
        unique_id: "afzuiging_badkamer"
        state: >
          {{ "off" if states('sensor.fanspeed') == 'Low' else "on" }}
        percentage: >
          {% set speedperc = {'Low': 0, 'Medium': 50, 'High': 100, 'High(T)': 100} %}
          {{speedperc [states('sensor.fanspeed')]}}
        turn_on:
          action: switch.turn_on
          data:
            entity_id: switch.fansendhigh
        turn_off:
          action: switch.turn_on
          data:
            entity_id: switch.fansendlow
        set_percentage:
          action: switch.turn_on
          data:
            entity_id: >
              {% set id_mapp = {0:'switch.fansendlow',50:'switch.fansendmedium', 100:'switch.fansendhigh'} %}
              {{id_mapp[percentage]}}
        speed_count: 2